.navbar {
  background: linear-gradient(to right, #0277bd, #00c6ff);
  padding: 15px 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.nav-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar button {
  padding: 8px 14px;
  border: none;
  background: #81d4fa;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
}

.navbar button:hover {
  background: #29b6f6;
  transform: scale(1.05);
}

input[type="text"] {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.3s;
}

input[type="text"]:focus {
  border-color: #00bcd4;
  box-shadow: 0 0 5px rgba(0, 188, 212, 0.4);
  outline: none;
}

/* IPL link styling */
.ipl-link {
  background-color: #ffd54f;
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.ipl-link:hover {
  background-color: #ffca28;
  transform: scale(1.05);
}































